<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome Home!</title>  
        <!-- CSS only bootstrap CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
        <style>
            .centered {
                position: fixed;
                top: 50%;
                left: 50%;
                margin-top: -100px;
                margin-left: -150px;
            }
        </style>
    </head>

    <body class="container" style="background-color:#16151b">
        <div class="centered" >
            <p style="font-size:46px; color:white; font-weight:600">
                Page: 
                <span style="color: #00db1a">HOME</span>
              </p>
        </div>
          
    </body>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>